%div.container
  = form_with model: Apartment.new, class: 'form-group' do |form|
    %div.form-group
      = form.label :title, 'Title'
      = form.text_field :title, class: 'form-control', id: 'apartment_title'
    %div.form-group
      = form.label :description, 'Description'
      = form.text_area :description, class: 'form-control', id: 'apartment_description'
    %div.input-group
    %div.row
      %div.col-md-7.mb-3
        = form.label :location, 'Location'
        = form.text_field :location, class: 'form-control', id: 'apartment_location',placeholder: 'Location'
      %div.col-md-3.mb-3
        = form.label :price, 'Price'
        = form.number_field :price, class: 'form-control no-spin', id: 'apartment_price', placeholder: 'Price'
      %div.col-md-2.mb-3
        = form.label :currency, 'Currency'
        = form.text_field :currency, class: 'form-control', id: 'apartment_currency', placeholder: 'Currency', value: '₴'
    %div.form-group
      %div
      = form.submit 'Save', class: 'btn btn-primary'

