%header.navbar.navbar-fixed-top.navbar-inverse
  = link_to "tsunami", root_path,  id: "logo"
  %nav
    %ul.nav.pull-right
      %li.nav-link= link_to "Home", root_path
      %li.nav-link= link_to "Help", help_path
      %li.nav-link= link_to "About", about_path
      %li.nav-link= link_to "Sign in", '#'
